nav .active {
    color: orangered;
}

/* Active Nav Link Page active link style start  */
.activeNavLink .active {
    color: tomato;
}

/* Active Nav Link Page active link style END  */



.active {
    box-shadow: inset 200px 0 0 0 #fff;
    color: #131313;
}

.filterBtn:hover {
    box-shadow: inset 200px 0 0 0 white;
    color: black;
}

.active:hover {
    box-shadow: inset 200px 0 0 0 white;
    color: black;
}

.dark {
    background: #000;
}

.light {
    background: #131313;
}

.zoomIn {
    transform: scale(0);
    animation: zoomIn 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.zoomOut {
    transform: scale(1);
    animation: zoomOut 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}